<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AstroLens | NASA Planetary Intelligence</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</head>
<body>

    {% block content %}
    {% endblock %}

    {% if request.path == '/' %}
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endif %}

</body>
</html>